:root {
    --body-bg: #F2F1EF;
    --shadow: 0 20px 40px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.30);
    --primary-font: 'Ubuntu', sans-serif;
    --primary-font-color: #333333;
    --border-color: #333333;
}

* {
    text-transform: uppercase;
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 0;
    font-family: var(--primary-font);
    background-color: var(--body-bg);
    color: var(--primary-font-color);
    font-size: 1em;
    transition: 1s;
    letter-spacing: 2px;
}

.main__header {
    margin-left: 5px;
}

.color__screen {
    margin: 5px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    transition: 0.5s;
}

.color__screen:hover {
    border: none;
    box-shadow: var(--shadow);
    transition: 0.5s;
}

.css__property {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-left: -5px;
}

.css__property:hover {
    border: none;
    box-shadow: var(--shadow);
    transition: 0.5s;
}

.input__part {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
    margin-bottom: initial;
    font-weight: bold;
}

.red, #redComponent {
    color: red;
}

.green, #greenComponent {
    color: green;
}

.blue, #blueComponent {
    color: blue;
}

input {
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-collapse: collapse;
    background: transparent;
    width: 50%;
    height: 30px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: lowercase;
    font-size: 1em;
}

.flex__container {
    display: flex;
}

button {
    height: 40px;
    width: 50%;
    margin-left: 10px;
    background-color: var(--body-bg);
    border-radius: 10px;
    transition: 0.5s;
}

button:hover {
    border: none;
    box-shadow: var(--shadow);
    transition: 0.5s;
}

@media screen and (max-width: 500px) {
    .color__screen {
        transition: 0.5s;
    }
    
    input {
        width: 90%;
        transition: 0.5s;
    }

    button {
        width: 90%;
        transition: 0.5s;
    }
}